@font-face {
    font-family: "Great Vibes";
    src: url("../fonts/GreatVibes-Regular.ttf");
}

#userWelcome {
    display:none;
}

#balance {
    display:none;
}

#payAccount {
    display:none;
}

#payVipLocker {
    display:none;
}